In [1]:
import numpy as np 
import pandas as pd

In [2]:
date = pd.read_csv('orders.csv')
time = pd.read_csv('messages.csv')

In [3]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

## Working with dates

In [4]:
date['date'] = pd.to_datetime(date['date'])

In [5]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [8]:
date['date_year'] = date['date'].dt.year
date['date_month'] = date['date'].dt.month
date['date_days'] = date['date'].dt.day
date['date_day_of_week']= date['date'].dt.dayofweek
date.head()

,date,product_id,city_id,orders,date_year,date_month,date_days,date_day_of_week
0,2019-12-10,5628,25,3,2019,12,10,1
1,2018-08-15,3646,14,157,2018,8,15,2
2,2018-10-23,1859,25,1,2018,10,23,1
3,2019-08-17,7292,25,1,2019,8,17,5
4,2019-01-06,4344,25,3,2019,1,6,6

## working with time

In [9]:
time['date']= pd.to_datetime(time['date'])

In [ ]:
time['hour']= time[]